Repository voxpupuli/puppet-openldap, pull requests merged in 2021-09, with the labels that each got.

#312 Fix type of $openldap::server::access_wrapper::acl
  manifests/server/access_wrapper.pp
  spec/defines/openldap_server_access_wrapper_spec.rb
Labels: bug

#309 Acceptance tests for CentOS 7 , remove RHEL6
  .github/workflows/ci.yml
  .sync.yml
  metadata.json
  spec/acceptance/schema_spec.rb
  spec/setup_acceptance_node.pp
Labels: backwards-incompatible

#321 Update FreeBSD package names
  data/os/FreeBSD.yaml
Labels: enhancement

#313 Drop support of Debian 8, 9 and Ubuntu 16.04 (EOL)
  metadata.json
Labels: backwards-incompatible

#314 Add support for Debian 11
  metadata.json
Labels: enhancement

#322 Include missing class instead of raising an error
  manifests/server.pp
  manifests/server/access.pp
  manifests/server/config.pp
  manifests/server/database.pp
  manifests/server/dbindex.pp
  manifests/server/globalconf.pp
  manifests/server/install.pp
  manifests/server/module.pp
  manifests/server/overlay.pp
  manifests/server/schema.pp
  manifests/server/service.pp
  manifests/server/slapdconf.pp
  spec/classes/openldap_server_config_spec.rb
  spec/classes/openldap_server_install_spec.rb
  spec/classes/openldap_server_service_spec.rb
  spec/classes/openldap_server_slapdconf_spec.rb
  spec/defines/openldap_server_access_spec.rb
  spec/defines/openldap_server_access_wrapper_spec.rb
  spec/defines/openldap_server_database_spec.rb
  spec/defines/openldap_server_globalconf_spec.rb
  spec/defines/openldap_server_module_spec.rb
  spec/defines/openldap_server_overlay_spec.rb
  spec/defines/openldap_server_schema_spec.rb
Labels: enhancement

#325 modulesync 4.2.0
  .editorconfig
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .msync.yml
  .overcommit.yml
  .pmtignore
  .rspec
  .rspec_parallel
  .rubocop.yml
  .yardopts
  Dockerfile
  Gemfile
  Rakefile
  spec/spec_helper.rb
  spec/spec_helper_acceptance.rb
Labels: modulesync

#320 Fix data type for openldap::server::overlay::options
  manifests/server/globalconf.pp
  manifests/server/overlay.pp
  spec/type_aliases/attribute_spec.rb
  spec/type_aliases/attributes_spec.rb
  spec/unit/puppet/provider/openldap_overlay/olc_spec.rb
  types/attribute.pp
  types/attributes.pp
Labels: bug

#329 Fix $openldap::server::database data type
  lib/puppet/type/openldap_database.rb
  manifests/server/database.pp
Labels: bug

#327 Drop support for openldap_access' islast parameter
  README.md
  lib/puppet/provider/openldap_access/olc.rb
  lib/puppet/type/openldap_access.rb
  manifests/server/access.pp
  manifests/server/iterate_access.pp
Labels: backwards-incompatible

#326 Fix openldap_access's what parameter
  lib/puppet/type/openldap_access.rb
Labels: bug

#330 Release 4.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
