Repository voxpupuli/puppet-openldap, pull requests merged in 2021-08, with the labels that each got.

#296 Switch to regular OpenLDAP packages on FreeBSD
  manifests/params.pp
Labels: enhancement

#298 Fix starting LDAP on Suse
  manifests/server/config.pp
Labels: bug

#301 Add support for FreeBSD 13
  metadata.json
Labels: enhancement

#302 Add support for Debian 10
  metadata.json
Labels: enhancement

#303 Add support for Ubuntu 20.04
  metadata.json
Labels: enhancement

#304 Drop support for Ubuntu 14.04
  metadata.json
Labels: backwards-incompatible

#300 Add data types for all parameters
  data/common.yaml
  data/os/Archlinux.yaml
  data/os/Debian.yaml
  data/os/FreeBSD.yaml
  data/os/RedHat.yaml
  data/os/RedHat/5.yaml
  data/os/Suse.yaml
  hiera.yaml
  manifests/client.pp
  manifests/client/ldapvi.pp
  manifests/params.pp
  manifests/server.pp
  manifests/server/access.pp
  manifests/server/access_wrapper.pp
  manifests/server/config.pp
  manifests/server/database.pp
  manifests/server/dbindex.pp
  manifests/server/globalconf.pp
  manifests/server/iterate_access.pp
  manifests/server/module.pp
  manifests/server/overlay.pp
  manifests/server/schema.pp
  manifests/utils.pp
Labels: enhancement

#308 Update badges in README.md
  README.md
Labels: docs

#311 Release 3.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
