Repository voxpupuli/puppet-openldap, pull requests merged in 2023-04, with the labels that each got.

#370 Allow to configure more overlays
  lib/puppet/provider/openldap_overlay/olc.rb
Labels: enhancement

#373 Add EL8 support
  .fixtures.yml
  manifests/server/config.pp
  metadata.json
  spec/setup_acceptance_node.pp
Labels: enhancement

#376 Support Ubuntu 22.04
  data/os/Debian/22.04.yaml
  metadata.json
  spec/classes/openldap_client_install_spec.rb
  spec/classes/openldap_client_spec.rb
Labels: enhancement

#377 Release 6.1.0
  .github/SECURITY.md
  .gitignore
  CHANGELOG.md
  Gemfile
  Rakefile
  metadata.json
Labels: skip-changelog

#378 modulesync 5.5.0
  .msync.yml
  .pmtignore
Labels: modulesync
