Repository voxpupuli/puppet-openldap, pull requests merged in 2024-01, with the labels that each got.

#402 Relax validation of `openldap_database`'s `suffix` parameter
  lib/puppet/type/openldap_database.rb
  spec/unit/puppet/type/openldap_database_spec.rb
Labels: bug

#403 Release 7.0.2
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#405 Allow systemd 6.x
  metadata.json
Labels: enhancement
