Repository voxpupuli/puppet-openldap, pull requests merged in 2024-04, with the labels that each got.

#415 Bump puppet-epel version
  metadata.json
Labels: enhancement

#412 Rework `openldap::server::database` interface for the `syncrepl` parameter
  REFERENCE.md
  manifests/server/database.pp
  spec/acceptance/openldap__server__database_spec.rb
  spec/defines/openldap_server_database_spec.rb
  types/syncrepl.pp
Labels: backwards-incompatible

#414 Rework `openldap::server::database` interface for the `limits` parameter
  REFERENCE.md
  manifests/server/database.pp
  spec/defines/openldap_server_database_spec.rb
  types/limits.pp
Labels: backwards-incompatible

#388 Remove deprecated code
  REFERENCE.md
  manifests/server.pp
Labels: backwards-incompatible

#417 modulesync 7.4.0
  .github/CONTRIBUTING.md
  .gitignore
  .msync.yml
  Dockerfile
Labels: modulesync

#418 modulesync 7.5.0
  .msync.yml
Labels: modulesync

#419 update puppet-systemd upper bound to 8.0.0
  metadata.json
Labels: enhancement
