Repository voxpupuli/puppet-openldap, pull requests merged in 2025-02, with the labels that each got.

#443 Add LastBind and LastBindPrecision to database options
  REFERENCE.md
  lib/puppet/provider/openldap.rb
  lib/puppet/provider/openldap_database/olc.rb
  lib/puppet/type/openldap_database.rb
  manifests/server/database.pp
  spec/defines/openldap_server_database_spec.rb
Labels: enhancement

#442 Replace systemd::dropin_file with systemd::manage_dropin
  manifests/server/config.pp
Labels: skip-changelog

#444 modulesync 9.4.0
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  .msync.yml
  .vscode/extensions.json
Labels: modulesync
